.hero {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #eaeaea;
    margin-bottom: 40px;
    height: 40vh;
    background: linear-gradient(135deg, #212121 30%, #3c3c3c 100%);
}

.hero h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .hero {
        height: 30vh;
    }

    .hero h2 {
        font-size: 2rem;
    }
}
